<section class="intro">
    <div class="container">
        <p class="lead">
            Hi, I'm Patrick.
        </p>
        <p>
            A Master's computer science student. I am currently also working as a Working student
            for Siemens as a Python Software Engineer.
        </p>
        <p>
            I am a big fan of the <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a> programming language
            and programming languages in generall.
            Academically I am interested in Machine Learning specifically in Natural Language Processing.
        </p>
        <p>
            The following lists some of my projects:
        </p>
    </div>
</section>
