<section class="intro">
    <div class="container">
        <!-- <p class="lead"> -->
        <!-- Hi, I'm <span class="accented">Patrick</span>. -->
        <!-- </p> -->
        <!-- <p> -->
        <!--     A PhD student at Humboldt University of Berlin in the field of Natural Language Processing. -->
        <!--     I am focussing on Language Modeling and everything relevant to the fast evolving field of Machine Learning . -->
        <!-- </p> -->
        <!-- <p> -->
        <!--     The following lists blog posts, projects and other stuff I am working on. -->
        <!-- </p> -->
        <p>
        Hi, I'm a PhD student in machine learning with a focus on NLP and language modeling. While working 
        on different inter-disciplinary projects, my current research interest lies in the development of 
        <strong>efficient and sample-efficient language models</strong>.
        </p>
    </div>
</section>
